- if current_user.display_tutorial == true
  .alert.alert-info#alert-modal
    = link_to close_tutorial_path, { "data_dismiss" => "alert", :method => :post, :class => "close" } do
      &times;
    %h3 Welcome to your dashboard
    %hr
    %p You can view all of your activity here. Tap on events to see details about them.
    %p
      = link_to customers_path, :class => "btn btn-success" do
        Continue to Customers
        %i.icon-arrow-right.icon-white
  #alert-modal-background