%div.page-header
  %h1 Checkout Sample(s)

%div.form-actions
  = link_to :back, { :class => "btn btn-large" } do
    %i{ :class => "icon-arrow-left" }
    Back
  = link_to "#myModal", { "data-toggle" => "modal", :show => "false", :class => "btn btn-large btn-success" } do
    %i.icon-plus-sign.icon-white
    Create New Sample

= render "form"
= render 'samples/form'