= link_to "Back", sample_checkouts_path, { "data-role" => "button", "data-transition" => "flip", "data-direction" => "reverse", "data-icon" => "arrow-l", "data-iconpos" => "left", :class => "medium" }

%h1 Create a New Sample

= render "form"