<br>
<h3>Email content preview</h3>
<br>
<p>Here is a preview of the emails that your customers will recieve.</p>
<p>Quotes, samples and other things will go here.</p>
<br>
<%= render 'customer_mailer/signature' %>