<h3>Hey there! <%= @invitation.sender.full_name %> has invited you to join SalesVerge.</h3>
<br />
<p>SalesVerge allows you to easily manage your dealership from any mobile device. Manage customers and quotes, automated emails to your customers and much more.</p>
<h1>
  <a href="<%= @signup_url %>">Create your account now &rarr;</a>
</h1>