<h3>Hello <%= @user.first_name %>,</h3>
<br />
<p>It looks like there hasn't been much activity in your SalesVerge account. Is there anything we can do to help get you started? <a href="https://dealeronthego.desk.com/customer/portal/articles/610218-getting-started">Here is a guide</a> we suggest for getting started.</p>

<p>Feel free to email me directly at <%= mail_to "lindsey@dealerignition.com" %> if you want help or have any questions.</p>

<p>
  <div class="did_you_know">
    <h4>Did you know?</h4>
    <%= @did_you_know %>
  </div>
</p>

<p>
  Thanks,<br />
  Lindsey<br />
  Lead Fire Starter
</p>