<br>
<h1>Hello, Person</h1>

<h2>So-and-so has invited you to join DealerOnTheGo!</h2>
  
<p>DealerOnTheGo is a new tool made for the iPad. We're building it to help you manage your customers, sales prospects, and other company assets.</p>
  
<h3><a href="http://">Log-in to see &rarr;</a></h3>