.page-header
  %h1 Account Settings

.row
  = render 'navigation'
    
  .span9
    %h3 Users
    %table.table.table-striped#users
      = render @dealer.users
    
    = link_to "#createUser", { "data-toggle" => "modal", :show => "false", :class => "btn btn-large btn-success" } do
      %i.icon-plus-sign.icon-white
      Create New User
      
.modal.hide.fade#createUser
  = render 'users/form'
