%tr
  %td
    %span{ :class => "#{ user.active? ? "" : "help-block" } js-user-info" }
      %b= user.full_name
      %br
      = user.email
  %td
    - if current_user == user
      %button.btn.disabled This is you
    - elsif current_user.company.users.exists?(user)
      %select.js-userRole{ "data-id" => user.id }
        - roles = CompanyUser::ROLES.dup.concat ["inactive"]
        - if user.active?
          - selected = user.company_users.first.role
        - else
          - selected = "Inactive"
        = options_for_select roles.collect { |r| r.titlecase }, :selected => selected
    - else
      - invitation = Invitation.find_by_recipient_id user.id
      %button.btn.disabled
        - case invitation.status
        - when "sent"
          Invited
        - when "rejected"
          Declined
