%div.container
  %div.row
    %div.span8.offset2.well
      .page-header
        - if @invitation
          %h3
            == #{@invitation.sender.full_name}
            has invited you to join CompanyBook.
        %h1 Create your account
      = render 'form'
