%script{:type => "text/javascript", :src  => "//static.getclicky.com/js"}
:javascript
  try{ clicky.init(66581301); }catch(e){}
%noscript
  %p
    %img{ :alt => "Clicky", :width => "1", :height => "1", :src => "//in.getclicky.com/66581301ns.gif" }