- unless current_user.customers.count > 0 || session[:close_tutorial].present? 
  .alert.alert-info#alert-modal
    = link_to close_tutorial_path, { "data_dismiss" => "alert", :method => :post, :class => "close" } do
      &times;
    %h3 Account Settings
    %hr
    %p This is the last stop. Here you can customize all of your info including personalizing the emails that will be automatically sent to your customers.
    %p
      = link_to close_tutorial_path, :method => :post, :class => "btn btn-success" do
        Got it!
  #alert-modal-background