- @title = "Account Settings"

.settings-page-header
  %h1 
    %i.icon-cogs.icon-large
    Settings
  
.row
  = render 'navigation'
    
  .span9
    - if current_user.salesrep?
      .alert
        Since you are not the account owner, you don't have permission to update the company settings. 
    = render 'companies/form'
