= form_for Invitation.new, :html => { :class => "form-inline" } do |f|
  = f.label :recipient_email, "Enter email address to invite"
  = f.text_field :recipient_email, :placeholder => "joe@email.com", :type => :email
  = f.submit( "Invite", :class => "btn btn-primary", :confirm => "Are you sure you want to send this invitation?" )
