.span4
  .customer_unit
    %h3
      = customer.full_name
    %p.help-block
      %span.truncate-email= customer.email
      = link_to "Go", customer, { :class => :hide }
    %a{ :href => "#{customer_path(customer)}", :class => "link-override" }
