.span4
  .customer_unit
    %div#activity_badges
      -if customer.estimates.present?
        %div.badge#estimate_present
      -if customer.sample_checkouts.present?
        %div.badge#sample_present
    %h3
      = customer.full_name
    %p.help-block
      %span.truncate-email= customer.email
      = link_to "Go", customer, { :class => :hide }
    %a{ :href => "#{customer_path(customer)}", :class => "link-override" }
