.span4
  .customer_unit
    %div.activity_badges
      -if customer.has_quotes?
        .badge.quote_present
      -if customer.has_sample_checkouts?
        .badge.sample_present
    %h3
      = customer.full_name
    %p.help-block
      %span.truncate-email= customer.email
      = link_to "Go", customer, { :class => :hide }
    %a{ :href => "#{customer_path(customer)}", :class => "link-override" }
