%p
  .well
    %p
      %a.btn.btn-large
        %i.icon.icon-plus-sign
        Create New Sample
    %input#samplesearch.full{ :placeholder => "Search for a Sample..." }
    .row
      .span4
        %ul.nav.nav-tabs.nav-stacked#js-samples
    .row
      .span4
        %ul.nav.nav-tabs.nav-stacked#js-selected-samples

    = form_for(@sample_checkout, :url => customer_sample_checkouts_path(@customer)) do |f|
      %fieldset
        %input{ :name => :sample_ids, :type => :hidden }
        = f.submit("Checkout Sample(s)", :class => "btn btn-primary btn-large hide", :id => "checkoutButton")
