= link_to "Back", customers_path, { "data-role" => "button", "data-transition" => "flip", "data-direction" => "reverse", "data-icon" => "arrow-l", "data-iconpos" => "left", :class => "medium" }

%h1
  Edit
  = @customer.first_name
  = @customer.last_name

= render "form"