- @title = "Edit Customer"

%p
  = link_to :back, { :class => "btn btn-large" } do
    %i{ :class => "icon-arrow-left" }
%div.page-header
  %h2
    Edit
    = @customer.first_name
    = @customer.last_name

= render "form"