- @title = "Customers"

- content_for :subnav do
  .pull-left
    %input#js-customersearch.search-query{ :type => :search,
      :value => params[:query], :placeholder => "Find a customer..." }
  .pull-right
    = link_to new_customer_path, { :id => "newCustomer", :class => "btn btn-success btn-large" } do
      %i{ :class => "icon-plus icon-white" }

#customers.row
  = render @records || @customers

.row
  .span12
    %span#sample_present_legend
    %h6
      === has checked out a sample
    %span#quote_present_legend
    %h6.legend
      === has a quote
