.row
  .span12
    .well
      .center
        %p
          = link_to new_customer_path, { :id => "newCustomer", :class => "btn btn-success btn-large" } do
            %i{ :class => "icon-user icon-white" }
            New Customer
        %p
          %input#customersearch.full{ :value => params[:query], :placeholder => "Find a customer...", :autocorrect => "off" }

#customers.row
  = render @customers
