%div.hero-unit
  %h1 Customers
  %p
    You have
    = pluralize(@customers.count, "customer")
  %p
    = link_to new_customer_path, { :class => "btn btn-primary btn-large" } do
      %i{ :class => "icon-user icon-white" }
      Create New Customer
  %p
    %input.customersearch{ :placeholder => "Find a customer" }
%div
  %table.table.table-striped.customertable
    = render @customers
