.container
  .row
    .span6.offset3.center
      = image_tag('logo.png', :width => 227, :height => 81, :id => "logo")
    .span6.offset3.well
      %h1 
        Register
        %small.hidden-phone.hidden-tablet Setup your account to get started
      %p 
        Already Registered?
        = link_to "Sign in", login_path, :class => "btn"
      %hr

      = render 'form_new'