.container
  .row
    .span6.offset3.center
      = image_tag('logo.png', :width => 227, :height => 81, :id => "logo")
    .span6.offset3.well
      %h1 
        Create your SalesVerge account
      %p 
        Already registered?
        = link_to "Sign in", login_path
      %hr

      = render 'form_new'