.container
  .row
    .span6.offset3.well
      %h1 
        Register
        %small.hidden-phone.hidden-tablet Setup your account to get started
      %p 
        Already Registered?
        = link_to "Sign in", login_path, :class => "btn"
      %hr

      = render 'form_new'