.container
  .row
    .span4.offset8.well{ :style => "background: rgba(255, 255, 255, 0.9); box-shadow: 0px 6px 5px rgba(16, 16, 16, 0.3);" }
      %h1 
        Register
        %small.hidden-phone.hidden-tablet to get started
      %p 
        Already Registered?
        = link_to "Sign in", login_path, :class => "btn"

      = render 'form_new'