%div.container
  %div.row
    %div.span8.offset2.well
      %h1 
        Register
        %small.hidden-phone Setup your account to get started
      %p 
        Already Registered?
        %a.btn
          Sign-in
      %hr

      = render 'form_new'