<h1>Dear <%= @customer.first_name %>,</h1>
<h3>Thank you for checking out the following:</h3>
<ul>
  <% @sample_checkouts.each do |sc| %>
    <li><%= sc.sample.name %></li>
  <% end %>
</ul>

<%= render "signature" %>