<h2>Thank-You</h2>
<div class="hr"></div>
<h3>We at For the Home Appreciate you!</h3>
<p>
	Maecenas ut fermentum risus. Sed pellentesque commodo risus, eu sagittis est iaculis ac. Cras a lacus elit, quis condimentum risus. Duis elit nunc, sollicitudin eget fermentum eu risus. Nam ornare lectus sed arcu facilisis ac ultricies enim mattis. Nullam ac orci elit. Ut hendrerit aliquet libero, ut convallis dui lacinia eget.
</p>
<p>
	<a href="#">Mauris pharetra</a> convallis dui, quis ultricies nunc rutrum eget. Aliquam in nunc ac nisi ultricies placerat. Aenean faucibus velit sed diam blandit egestas.</p>
<br>
<p>
	— Paul Homie, Owner
</p>