<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank-you, <%= @customer.name %></h1>
    <p>Thank you for your interest in our store.</p>
  </body>
</html>