<a href="http://www.facebook.com/sharer.php?u=www.salesverge.com&amp;src=sp">
  <%= image_tag('share_fb.gif') %>
</a>

<a href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Ftwitter.com%2Fabout%2Fresources%2Fbuttons&source=tweetbutton&text=Check%20out%20&url=http%3A%2F%2Fwww.salesverge.com">
  <%= image_tag('share_twitter.gif') %>
</a>

<a href="mailto:enteryour@friendsaddress.com?subject=SalesVerge&body=Check out SalesVerge. www.salesverge.com">
  <%= image_tag('share_email.gif') %>
</a>