<h1>Thank you for your interest in <%= @app_request.app_name %></h1>

<h2><a href="http://www.dealeronthego.com/signup">Access your personal SalesVerge account</a></h2>
<p>Please remember that the app is still in development, so it must be accessed in Safari. Any information stored in SalesVerge will automatically transfer to your account once the app is available in the App Store.</p>

<hr />
<%= render 'share_buttons' %>