<h1>Thank you for your interest in <%= @app_request.app_name %></h1>
<p>We will be following up with you shortly.</p>
<p>Please take a minute to fill out our <a href="<%= @survey_link %>">short survey</a> so we can learn a little bit about you.</p>