%body#dealeronthego
  #hero
    #leather_bar
      .container
        %h3
          DealerOnTheGo
    .container
      .row
        .span6
          %h1
            We are building the next way to help retail sales people sell more.
          %br
          %h3
            Sign-up be invited to join
          .controls
            .input-append
              %input.span3{:style => "margin-right: -4px;height: 30px;"}
              %button.btn.btn-success.btn-large
                SIGN-UP
        .span6
          %img.pull-right{:src => "assets/iphone-screen-2.png", :width => "275px", :style => "margin:50px 0 0 0;margin-right:2%"}
  %br
  .container
    .row
      %ul.thumbnails
        %li.span4
          .thumbnail
            %img{:src => "http://placehold.it/370x150", :width => "370"}
            %br
            .span3
              %h3 AUTOMATION
              Automatically keep in touch with customers
            .clearfix
            %br
            %br
        %li.span4
          .thumbnail
            %img{:src => "http://placehold.it/370x150", :width => "370"}
            %br
            .span3
              %h3 LEARN
              Learn more about your customers, without having to ask
            .clearfix
            %br
        %li.span4  
          .thumbnail
            %img{:src => "http://placehold.it/370x150", :width => "370"}
            %br
            .span3
              %h3 SELL MORE
              Sell more to the "ups" you get each day
            .clearfix
            %br
            %br
  %hr