%div.container#about
  %div.row  
    %div.span10.offset1
      %div.hero-unit
        %h1 Business tools. On your iPad.
        %h2 Introducing DealerOnTheGo
      %div.row
        %div.span10
          %div.row
            %div.span5
              %br
              %p DealerOnTheGo is a new tool made for the iPad. We're building it to help you manage your customers, sales prospects, and other company assets.
            %div.span5
              %form.well{ :id => "form97", :name => "form97", :class => "wufoo topLabel page", :autocomplete => "off", :enctype => "multipart/form-data", :method => "post", :action => "https://dealerignition.wufoo.com/forms/k7p8r5/#public"}
                %h2 Sign-up for updates
                %input.field.text.medium.span2#Field1{ :name => "Field1", :type => "email",  :spellcheck => "false", :class => "field text medium", :value => "", :maxlength => "255", :tabindex => "1", :style => "height:31px", :placeholder => "youremail@example.com"} 
                %input.btTxt.submit.btn.btn-large.btn-success#saveForm{ :name => "saveForm", :type => "submit", :value => "Submit", :style => "margin-top:-10px"}
                %div{ :style => "display:none" }
                  %textarea#comment{ :name => "comment", :rows => "1", :cols => "1"}
                  %input#idstamp{ :name => "idstamp", :value => "3WwuJJccEVHH1ZlGudrk6OW9QtGOvxyaN6OoK3r74hk="}
      %hr
      %div.row
        %div.span10
          %div.row
            %div.span5
              %br
              %h1#feature Carry a list of your customers with you everywhere you go.
            %div.span5
              %img{ :src => "http://dealer-on-the-go.s3.amazonaws.com/customers.png" }
      %hr        
      %div.row
        %div.span10
          %div.row
            %div.span5
              %img{ :src => "http://dealer-on-the-go.s3.amazonaws.com/quotes.png" }
            %div.span5
              %br
              %h1#feature Take your iPad onsite and email quotes to your customers from anywhere.
      %hr      
      %div.row
        %div.span10
          %div.row
            %div.span5
              %br
              %br
              %h1#feature View the status current projects
            %div.span5
              %img{ :src => "http://dealer-on-the-go.s3.amazonaws.com/dash.png" }
              
      %hr
      %p &copy; 2012 Dealer Ignition
      