.rounded-corners (@radius: 20px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}
body#big_screen {
  margin: 60px 0 70px;
  background: url("/assets/fabric_plaid.png");
  font-size:12px;
  .span4 {
    background:#ffffff;
    .rounded-corners;
    .innerspan4 {
      width:95%;
      margin:10px;
      padding:0;
      .page-header {
        text-align: center;
      }
    }
    -webkit-box-shadow: 0px 0px 12px 0px #999999;
    -moz-box-shadow: 0px 0px 12px 0px #999999;
    box-shadow: 0px 0px 12px 0px #999999;
    -webkit-box-shadow: 0px 0px 12px 0px #999999;
    -moz-box-shadow: 0px 0px 12px 0px #999999;
    box-shadow: 0px 0px 12px 0px #999999;
    min-height:615px;
  }
  .navbar .navbar-inner .container a.brand {
    color: #fff;
  }
  h1 {
    line-height: 40px;
  }
}