@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2), 
screen and (-webkit-min-device-pixel-ratio: 1), screen and (max--moz-device-pixel-ratio: 1) {
    div#dashboard {
        padding: 7px;
    }
    #dashboard select {
        margin-left: 2px;
        width: 105px;
    }
    #dashboard button {
        height: 40px;
    }
}

#dashboard select {
    vertical-align: baseline;
}

#timelineStream h3 {
    margin-left: 17px;
}

.samplecheckoutaccordion .accordion-heading {
  background-color:#e4e8fb;
}
.samplecheckoutaccordion .shown .accordion-heading {
  background-color:#123;
}
.quoteaccordion .accordion-heading {
  background-color:#e0ffe0;
}
.customeraccordion .accordion-heading, .noteaccordion .accordion-heading {
  background-color:#fbead3;
}
span.quote, span.quote-won, span.sample, span.note, span.customer, span.appointment, span.danger {
  font-weight: bold;
}
span.sample {
  color: #049cdb;
  span.sample_in {
  }
  span.sample_out {
    color: #024966;
  }
}
.accordion .accordion-group a.accordion-toggle {
  color: #444;
}
