@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
    div#dashboard {
        padding: 7px;
    }

    #dashboard select {
        margin-left: 2px;
        width: 105px;
    }
    #dashboard button {
        height: 40px;
    }
}


#timelineStream h3 {
    margin-left: 17px;
}
