// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.estimate, span.sample, span.note {
  font-weight: bold;
}
span.estimate {
  color: #46a546;
}
span.sample {
  color:#049cdb;
}
span.note {
  color:#ffc40d;
}
.accordion .accordion-group a.accordion-toggle {
  color: #444;
}
