@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2),
screen and (-webkit-min-device-pixel-ratio: 1), screen and (max--moz-device-pixel-ratio: 1) {
  #dashboard select {
    margin-left: 2px;
    width: 105px;
  }
  #timelinefilterbuttons button {
  }
}

#dashboard select {
    vertical-align: baseline;
}

#timelineStream h3 {
    margin-left: 17px;
}

.samplecheckoutaccordion .accordion-heading {
  background-color:#edf0ff;
}

.samplecheckoutaccordion .shown .accordion-heading {
  background-color:#123;
}

.quoteaccordion .accordion-heading {
  background-color:#eeffee;
}

.customeraccordion .accordion-heading, .noteaccordion .accordion-heading {
  background-color:#fff2e0;
}

span.quote, span.quote-won, span.sample, span.note, span.customer, span.appointment, span.danger {
  font-weight: bold;
}
span.sample {
  color: #049cdb;
  span.sample_in {
  }
  span.sample_out {
    color: #024966;
  }
}
.accordion .accordion-group a.accordion-toggle {
  color: #444;
}
