@import "bootstrap_and_overrides.css.less";

#subnav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  z-index: 1000;
  background-color: #ccc;
  width: auto;
  #gradient > .vertical(#f4f5f7, #a8acb9);
  border-bottom: 1px solid #797f90;
  .btn-large {
    padding: 3px 14px;
  }
}

@media all and (max-width: 767px) {
  #subnav {
    padding: 10px 20px;
  }
}
