// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login {
  .98width {
    width: 98%;
  }
  .remember_check {
    float: left;
  }
  .remember_check_label {
    float: left;
    margin-left: 5px;
  }
}