!!!
%html
  %head
    %title
      - if @title
        =@title
        |
      DealerBook

    %link{ :rel => "apple-touch-icon-precomposed", :href => "apple-touch-icon-precomposed.png" }
    %link{ :rel => "apple-touch-icon-precomposed", "sizes" => "72x72", :href => "apple-touch-icon-72x72-precomposed.png" }
    %link{ :rel => "apple-touch-icon-precomposed", "sizes" => "114x114", :href => "apple-touch-icon-114x114-precomposed.png" }
    %link{ :rel => "apple-touch-icon-precomposed", "sizes" => "144x144", :href => "apple-touch-icon-144x144-precomposed.png" }
    %link{ :rel => "icon", :type => "image/x-icon", :href => "/assets/favicon.ico" }

    %meta{ :charset => "utf-8" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0, user-scalable=0" }
    %meta{ :name => "apple-mobile-web-app-capable", :content => "yes" }
    %meta{ :name => "apple-mobile-web-app-status-bar-style", :content => "black" }
    =stylesheet_link_tag "application", :media => "all"
    =javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
    =javascript_include_tag "application"
    =csrf_meta_tags

  %body
    = content_for?(:body) ? yield(:body) : yield
    %hr
    - if Rails.env.production?
      = render "shared/clicky_tracking"
  
  %footer
    = render "shared/loader"