!!!
%html
  %head
    %title DealerOnTheGo
    %meta{ :charset => "utf-8" }
    %meta{ :name => "viewport", :content => "width=device-width, minimum-scale=1, maximum-scale=1" }
    %meta{ :name => "apple-mobile-web-app-capable", :content => "yes" }
    =stylesheet_link_tag "application", :media => "all"
    =javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
    =javascript_include_tag "application"
    =csrf_meta_tags
  %body
    = content_for?(:body) ? yield(:body) : yield
  %hr
  %footer
    %div#logo=image_tag "http://s3.amazonaws.com/dealer_ignition/dealer_ipad/sample_logo.png"
