-content_for :body do
  .session-background
  .container
    .row
      .span6.offset3
        - if flash[:notice]
          .alert.alert-success
            %a.close{ :href => "#", "data-dismiss" => "alert" }
              &times;
            = flash[:notice]
        - if flash[:alert]
          .alert.alert-info
            %a.close{ :href => "#", "data-dismiss" => "alert" }
              &times;
            = flash[:alert]
        - if flash[:error]
          .alert.alert-error
            %a.close{ :href => "#", "data-dismiss" => "alert" }
              &times;
            = flash[:error]          
    = content_for?(:body) ? yield(:body) : yield

=render :template => "layouts/application"
