<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
body {
	background: #f5f5f5;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-rendering: optimizelegibility;
	color: #333;
	font-size: 15px;
}
h1, h2, h3 {
	color: #333;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	text-rendering: optimizelegibility;
}
h1 {
	font-size: 24px;
	margin: 5px 0;
}
h2 {
	font-size: 20px;
	margin: 5px 0;
}
h3 {
	font-size: 16px;
}
p {
	color: #333;
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 9px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}
a {
	color: #1855A0;
	text-decoration: underline;
}
#header {
	background: #ffffff;
	padding: 20px;
	border: 1px solid #DDDDDD;
	border-bottom: none;
	text-align: center;
}
#content {
	background: #ffffff;
	border: 1px solid #DDDDDD;
}
table.tablebordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  border-collapse: collapsed;
  font-size:14px;
  text-align: right;
}
table.tablebordered td.left, table.tablebordered th.left {
  text-align: left;
}
table.tablebordered td.price {
  width:70px;
}
table.tablebordered tr {
  border-bottom: 1px solid #dddddd;
}
table.tablebordered thead th, table.tablebordered tbody td, table.tablebordered tfoot td {
  padding:8px;
}
table.tablebordered thead th {
  background: #cfcfcf;
  border-bottom: 1px solid #dddddd;
}
table.tablebordered tbody td {
  border-bottom: 1px solid #dddddd;
}
table.tablebordered tfoot td {
	background: #f5f5f5;
}
#footer {
	font-size: 12px;
	text-align: center;
}
hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #fff;
}
</style>
</head>

  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
  	<center>
      <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
        <tr>
          <td style="border-collapse: collapse;">&nbsp;</td>
        </tr>
        
        <tr>
          <td align="center" valign="top" style="border-collapse: collapse;">
          	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
          	
              <tr>
                <td align="center" valign="top" >
                  <table border="0" cellpadding="0" cellspacing="0" width="600" id="header">
                    <tr>
                      <td class="headerContent">
                        <h1 style="margin:0;">DealerOnTheGo</h1>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
              
                <td align="center" valign="top" style="border-collapse: collapse;">
                  <table border="0" cellpadding="0" cellspacing="0" width="600">
                    <tr>
                      <td valign="top" class="bodyContent">        
                        <table border="0" cellpadding="20" cellspacing="0" width="100%"  id="content">
                          <tr>
                            <td valign="top">
                              
                              <%= yield %>
                              
							              </td>
                          </tr>
                          <tr>
                          	<td>
                          	</td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              
              <tr>
                <td align="center" valign="top" >
                  <table border="0" cellpadding="10" cellspacing="0" width="600" id="footer">
                    <tr>
                      <td valign="top" class="footerContent" style="border-collapse: collapse;">                    
                      	<%= link_to "Update account settings", url_for(:controller => "settings", :action => "account", :only_path => false) %>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              
            </table>
            <br>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>